NODE_ENV=test
PORT=8080

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=healytics_test_db
POSTGRES_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
REDIS_TLS=false

THROTTLE_ENABLED=true
METRICS_LOGIN_CCU_WINDOW_SECONDS=1800

RABBITMQ_URL=amqp://guest:guest@localhost:5672
RABBITMQ_QUEUE_CHECKOUT=checkout_queue

DEFAULT_ADMIN_EMAIL=admin@healytics.vn
DEFAULT_ADMIN_PASSWORD=admin@123
